<div class="delivered-imgs">
    <img src="static/img/customers/customer-1.jpg" alt="Customer photo" />
    <img src="static/img/customers/customer-2.jpg" alt="Customer photo" />
    <img src="static/img/customers/customer-3.jpg" alt="Customer photo" />
    <img src="static/img/customers/customer-4.jpg" alt="Customer photo" />
    <img src="static/img/customers/customer-5.jpg" alt="Customer photo" />
    <img src="static/img/customers/customer-6.jpg" alt="Customer photo" />
  </div>
  <p class="delivered-text">
    <span>250,000+</span> delivered meals last year!
  </p>