<footer class="footer">
  <div class="container grid grid-footer">
    <div class="logo-col">
      <a href="#" class="footer-logo"><img class="logo" src="/static/img/omnifood-logo.png" alt="Omnifood" /></a>
      <ul class="social-links">
        <li>
          <a href="#" class="footer-link"><ion-icon class="social-link" name="logo-instagram"></ion-icon></a>
        </li>
        <li>
          <a href="#" class="footer-link"><ion-icon class="social-link" name="logo-facebook"></ion-icon></a>
        </li>
        <li>
          <a href="#" class="footer-link"><ion-icon class="social-link" name="logo-twitter"></ion-icon></a>
        </li>
      </ul>
      <p class="copyright">
        Copyright &copy; <span class="year">2023</span> by Omnifood, Inc. All rights reserverd.
      </p>
    </div>

    <div class="address-col">
      <p class="footer-heading">Address</p>
      <address class="contacts">
        <p class="address">623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
        <p>
          <a href="tel:415-201-6370" class="footer-link">415-201-6370</a>
          <br />
          <a href="mailto:hello@omnifood.com" class="footer-link">hello@omnifood.com</a>
        </p>
      </address>
    </div>

    <nav class="nav-col">
      <p class="footer-heading">Account</p>
      <ul class="footer-nav">
        <li>
          <a href="#" class="footer-link">Create account</a>
        </li>
        <li>
          <a href="#" class="footer-link">Sign in</a>
        </li>
        <li>
          <a href="#" class="footer-link">IOS app</a>
        </li>
        <li>
          <a href="#" class="footer-link">Android app</a>
        </li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Company</p>
      <ul class="footer-nav">
        <li>
          <a href="#" class="footer-link">About Omnifood</a>
        </li>
        <li>
          <a href="#" class="footer-link">For Business</a>
        </li>
        <li>
          <a href="#" class="footer-link">Cooking partners</a>
        </li>
        <li>
          <a href="#" class="footer-link">Careers</a>
        </li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Resources</p>
      <ul class="footer-nav">
        <li>
          <a href="#" class="footer-link">Recipe directory</a>
        </li>
        <li>
          <a href="#" class="footer-link">Help center</a>
        </li>
        <li>
          <a href="#" class="footer-link">Privacy &amp; terms</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
