{%  extends 'base.html' %}
{% block content %}
<style>
    .form{
        width: 100%%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      .inputBox {
        margin-bottom: 20px;
      }
      
      .inputBox label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      
      .inputBox input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
      }
      
      input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
      }
      
      input[type="submit"]:hover {
        background-color: #0056b3;
      }
      
</style>
{% comment %} <div class="form">
    <form method="get" >
      <div class="inputBox">
        <input type="text" name="email" value="" />
        <label>Email</label> <!-- Changed 'Username' to 'Email' for clarity -->
      </div>
      <div class="inputBox">
        <input type="password" name="password" value="" />
        <label>Password</label>
      </div>
      <input type="submit" name="sign-in" value="Sign In" />
    </form>
    <input type="text" name="username" value="{{ username }}" /> <!-- Added input field for username -->
    <input type="text" name="username" value="{{ passwd }}" />
  </div>
  
  
</div> {% endcomment %}

<div class="form">
  
    <form  method="post" action = {% url 'submitform'%} >
      {% csrf_token %}
      <div class="inputBox">
        <input type="text" name="email" value="{{ username }}" />
        <label>Email</label> <!-- Changed 'Username' to 'Email' for clarity -->
      </div>
      <div class="inputBox">
        <input type="text" name="password" value="{{ passwd }}" />
        <label>Password</label>
      </div>
      {{form}}
      <input type="submit" name="sign-in" value="Sign In" />
      <br><hr>
      <input type="text" name="usernames" value="{{ username }}" /> <!-- Added input field for username -->
      <input type="text" name="usernames" value="{{ passwd }}" />
    </form>
  </div>
  
  
</div>

{% endblock content %}
