{% include 'header.html' %}
{% block content %}

<div class="form">
  
    <form  method="post" action = {% url 'savedata'%} >
      {% csrf_token %}
      <div class="inputBox">
        <input type="text" name="email" />
        <label>Email</label> <!-- Changed 'Username' to 'Email' for clarity -->
      </div>
      <div class="inputBox">
        
        <textarea name="password" id="password" class="tinymce"></textarea>

        <label>comment</label>
      </div>
      

      <input type="submit" name="sign-in" value="Sign In" />
      
    </form>
  </div>
  
  
</div>
<script src="https://cdn.tiny.cloud/1/oq7erohl4ewxvn7ek4fjea54iwjahz4xnfrucxu44ld31316/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });
  </script>

{% endblock %}
{% include 'footer.html' %}

